.sponsors {
  //   border: 1px dashed black;
  height: 60vh;
  padding: 4% 14%;
}

.sponsors-headline {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2%;
}

.sponsor-logo-cont {
  //   border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-logo-div {
  //   border: 1px dashed black;
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-logo {
  //   border: 1px dashed black;
  width: 100%;
}
