.cd {
  height: 65vh;
  padding: 4% 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cd-text-cont {
  //   border: 1px dashed black;
  width: 45%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cd-text-header {
  font-size: 2.8rem;
}

.cd-text {
  font-size: 2.5rem;
}

.cd-img {
  height: 100%;
}
