.si {
  width: 48%;

  form {
    width: 100%;
    height: 24vh;
    border: 1px solid #e0dede;
    padding: 2%;
    margin-bottom: 4%;

    label,
    input,
    button {
      font-size: 2rem;
    }

    input {
      height: 6vh;
      width: 100%;
      border-radius: 6px;
      border: 2px solid #e0dede;
      margin-bottom: 2%;
    }

    button {
      height: 5vh;
      width: 30%;
      background: linear-gradient(to top, #d6d6d6, #e8e8e8);
      border: none;
      border-radius: 6px;
    }
  }
}

.si-header {
  border-bottom: 1px solid #e0dede;
  font-size: 3rem;
  height: 6vh;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}

.si-input-div {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 1%;
  }
}
