.cf {
  border: 1px solid #e0dede;
  width: 48%;
  padding: 2%;
  //   height: 120vh;
}

.cf-header {
  border-bottom: 1px solid #e0dede;
  font-size: 3rem;
  height: 6vh;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}

.cf-form {
  label,
  input,
  select {
    font-size: 2rem;
  }

  input,
  select {
    height: 6vh;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #e0dede;
  }
}

.cf-input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;

  label {
    margin-bottom: 1%;
  }

  input {
    margin-bottom: 2%;
  }
}
