.sp {
  height: 90vh;
}

.sp-header {
  height: 20vh;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp-header-text {
  font-size: 5rem;
  text-transform: capitalize;
}

.sp-content {
  padding: 4% 14%;
  height: 70%;
  display: flex;
}

.sp-img {
  width: 40%;
  margin-right: 4%;
  height: 80%;
  background-size: cover;
  // align-self: center;
}

.sp-text-div {
  // border: 1px dashed black;
  width: 50%;
}

.sp-text-large {
  font-size: 2.5rem;
  font-weight: 600;
}

.sp-text {
  font-size: 2rem;
  margin-bottom: 2%;
}
