.checkout {
  height: 90vh;
}

.checkout-header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.checkout-header-text {
  font-size: 5rem;
  text-transform: capitalize;
}

.checkout-content {
  padding: 4% 14%;
}

.checkout-cust-info {
  display: flex;
  justify-content: space-between;
}

.checkout-cust-info-right {
  width: 48%;
}

.checkout-error-msg {
  width: 25%;
  height: 5vh;
  background: #d04746;
  position: fixed;
  bottom: 3%;
  left: 37.5%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #fff;
    font-size: 2rem;
  }
}
