$mobile: 500px;

.nav {
  // border: 1px dashed black;
  height: 10vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
  position: fixed;
  border-bottom: 1px solid #ebebeb;
  z-index: 999;
}

.nav-pages-cont {
  // border: 1px dashed black;
  display: flex;
  width: 38%;
  justify-content: space-between;
  margin-right: 5%;
}

.nav-page {
  font-size: 2rem;
  text-transform: uppercase;
}

.nav-language-cont {
  // border: 1px dashed black;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-language-div {
  //   border: 1px dashed black;
  width: 40%;
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 35%;
    width: auto;
    margin-right: 10%;
  }

  p {
    font-size: 1.5rem;
  }
}

.mobile-menu-icon {
  display: none;
  font-size: 4rem;
}

@media (max-width: $mobile) {
  .nav {
    justify-content: space-between;
  }

  .nav-language-cont {
    width: 40%;
  }

  .nav-pages-cont {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
  }
}
