$mobile: 500px;

.intro {
  height: 90vh;
  // top: 10vh;
  // position: relative;
}

.intro-img-large {
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: 0% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-logo-cont {
  width: 50%;
  height: 60%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-bottom {
  // border: 1px dashed black;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 4% 14%;
}

.intro-bottom-text {
  // border: 1px dashed black;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2.4rem;
  }
}

.intro-bottom-img {
  border-radius: 6px;
}

@media (max-width: $mobile) {
  .intro {
    // border: 1px dashed black;
    height: 160vh;
  }
  .intro-img-large {
  }

  .intro-logo-cont {
    height: 40%;
    width: 60%;
  }

  .intro-logo-img {
    width: 100%;
  }

  .intro-bottom {
    // border: 1px dashed black;
    flex-direction: column;
    height: 100vh;
    padding: 0;

    h2 {
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 12px;
    }
  }

  .intro-bottom-text {
    width: 100%;
    padding: 4% 7%;
  }
}
